@import "tailwindcss";

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smo;
}

:root {
    --color-background: #ffffff;
    /* Page bg */
    --color-surface: #d9d9d9;
    /* Card/section bg */

    --color-primary: #313131;
    /* Heading text, links, primary button bg */
    --color-button: #c6c6c6;

    --color-secondary: #4d4d4d;
    /* Paragraph text, less important buttons */
    --color-muted: #c5c5c5;
    /* Borders, disabled text, placeholders */
}

/* Custom scrollbar styling for smooth sliding */
/* .draw {
    display: grid;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.aitool:hover+.draw {
    opacity: 1;
    max-height: 200px;
}

.aitool:hover+.draw {
    display: grid;
} */

.con {
    width: 100px;
    height: 35px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.con:hover {
    width: 350px;
    height: 260px;

}

.con .gr {
    opacity: 0;
    transition: all .5s;
}

.con:hover .gr {
    opacity: 1;
}